@{
    ViewBag.Title = "Home Page";
}
<h1>
    Opis testa:
</h1>
<h4>
    U ovom primjeru samo je dodana stranica "Zaposlenici" sa unosom zaposlenika u bazu.
    Unos se prikazuje po imenu članova klase jer frontend dio nije rađen.
</h4>